/* Contenedor principal de las cards */
.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

/* Card con imagen en la parte superior */
.cardWithImageTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardWithImageTop img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Card con la imagen a la derecha */
.cardWithImageRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
}

.cardWithImageRight .cardContent {
  flex: 1; /* Hace que el contenido de texto ocupe el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el texto verticalmente */
}

.cardImage {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Estilos para el título y la descripción */
.cardTitle {
  font-size: 2rem;
  color: #00335f;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center; /* Centra el texto */
}

.cardDescription {
  font-size: 1.125rem;
  color: #00335f;
  line-height: 1.75;
  margin-bottom: 15px;
  text-align: center; /* Centra el texto */
}
